.time {
  display: flex;
  align-items: flex-end;
}

.time h1 {
  font-size: 6rem;
  font-weight: 400;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  line-height: 80px;
  height: 80px;
  color: whitesmoke;
}

.weatherName {
  display: none;
  padding: 5px 6px;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: -35px;
  width: max-content;
}

.temp {
  display: flex;
  margin-left: 20px;
  margin-bottom: 7px;
  position: relative;
  height: 20px;
}

.temp img {
  margin-top: 2px;
  width: 24px;
  height: 24px;
}

.temp img:hover + .weatherName {
  display: block;
}

.temp .tempValue {
  font-size: 1.5rem;
  margin-left: 5px;
  height: 20px;
}

.temp .tempUnit {
  font-size: 0.8rem;
  margin-left: 3px;
  margin-top: 3px;
}

/* Place */

.place {
  margin-top: 10px;
}

.place p {
  font-size: 1.1rem;
  margin-left: 3px;
  color: rgba(255, 255, 255, 0.8);
}

@media only screen and (max-width: 500px) {
  .time h1 {
    font-size: 4rem;
  }

  .temp {
    margin-left: 15px;
    margin-bottom: 19px;
  }

  .place {
    margin-top: 0;
  }
}
