.wrapper i {
  font-size: 1.2rem;
  transform: rotate(360deg);
  animation: spinner-rotate 1s infinite linear;
}

@keyframes spinner-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
