.wrapper {
  margin-top: 35vh;
  padding: 0 5em;
  min-height: 65vh;
}

@media only screen and (max-width: 1300px) {
  .wrapper {
    margin-top: 33vh;
    padding: 1em 1.875em;
  }
}

@media only screen and (max-width: 500px) {
  .wrapper {
    margin-top: 28vh;
    padding: 1em;
  }
}
